body{
    background-color: whitesmoke;
    font-family: Arial, sans-serif;
}

.products{
    padding: 20px;
}

.products h2{
    text-align: center;
    
}

.product-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    
}

.product-card{
    height: 500px;
    background-color: white;
    border: 15px;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    
}

.product-card img{
    width: 100%;
    height: 200px;
    object-fit:cover;

    
}

.price{
    display:block;
    font-weight: bold;
    margin: 10px 0;
}

.product-card button{
    background-color: #e76807;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.product-card button:hover{
    background-color: #cf5c06;
}

