*{
    margin: 0;
    padding: 0;

}
body{
    background-color: #6594B1;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card{
    position: relative;
    width:400px;
    height: 700px;
    border-radius: 12px;
    background-color: #0F2854;
    padding: 1%;
    overflow: hidden;
}
.logo_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
}
.card .title h1{
    font-family: Gilroy;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    padding: 2%
}
.card .title p{
    font-family: Open Sans;
    color: white;
    text-align: center;
}
.card .image{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    align-items: center;
}
.card .image .outer{
    background-color:#E94560;
    height: 140px;
    width: 140px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card .image .inner{
    height: 120px;
    width : 120px;
    overflow: hidden;
    border-radius: 50%;

}
.card .image .inner img{
    width: 100%;
}
.card .name{
    color: white;
    text-align: center;
    font-family: Gilroy;
    font-size: 1.9rem;
    font-weight: bold;
    margin-top: 2%;
}
.card .details {
    background-color: #e94560;
    height:65%;
    margin-top: 5%;
    border-top-left-radius: 75px;
    padding: 0 6%;
    color: white;
    font-family: Open  Sans;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 5px solid white;

}
.card .details .col {
    width:100%
}
.card .details .col img{
    width: 50%;
}
.card .details .col:last-child{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card .details li{
    font-size: 1.2rem;
}
